<h1>Export Toolkit</h1>
<form action="{{ path('elementsexporttoolkit-admin-update-settings') }}" method="POST">
    <input type="hidden" name="csrfToken" id="csrfToken" value="{{ csrfToken }}">
    <table>
        <tr>
            <td>
                <b>Use custom class list:</b>
                <input type="checkbox" name="override" value="1" {% if config.classOverride %}checked="checked" {% endif %} />
            </td>
        </tr>
        <tr>
            <td>
                Class List:<br />
                <textarea name="classlist" style="width:1000px; height:200px;">{{ config.classList }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Blacklist:<br />
                <textarea name="blacklist" style="width:1000px; height:200px;">{{ config.blackList }}</textarea><br>
                <input type="submit" />
            </td>
        </tr>
    </table>

</form>