.plugin_exporttoolkit_configpanel, .plugin_exporttoolkit_config {
    background: url(/pimcore/static/img/icon/database_table.png) no-repeat scroll left center transparent !important;
}

.plugin_exporttoolkit_clear_config_cache {
    background: url(/pimcore/static/img/icon/lightning.png) no-repeat !important;
}

.plugin_exporttoolkit_start {
    background: url(/pimcore/static/img/icon/cog_go.png) no-repeat !important;

}


.plugin_exporttoolkit_status {
    background: url(/pimcore/static/img/icon/cog_go.png) no-repeat !important;
}