.plugin_exporttoolkit_configpanel, .plugin_exporttoolkit_config {
    background: url(/bundles/pimcoreadmin/img/icon/database_table.png) center center no-repeat !important;
}

.plugin_exporttoolkit_clear_config_cache {
    background: url(/bundles/pimcoreadmin/img/icon/lightning.png) center center no-repeat !important;
}

.plugin_exporttoolkit_start {
    background: url(/bundles/pimcoreadmin/img/icon/cog_go.png) no-repeat !important;

}
#pimcore_menu_exporttoolkit{
    background-image: url(/bundles/pimcoreadmin/img/flat-color-icons/go.svg) !important;
}

.plugin_exporttoolkit_status {
    background: url(/bundles/pimcoreadmin/img/icon/cog_go.png) no-repeat !important;
}


.plugin_exporttoolkit_statusbar {
    background-color: #eaeaea;
    border-width: 1px 0 0 0;
    border-color: #d0d0d0;
}